/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./code-snippets.css";
/* purgecss end ignore */

@import "tailwindcss/utilities";

/* purgecss start ignore */
@import "./prism.css";

.code-toolbar {
    @apply h-full;
}

@media (min-width: 640px) {
  .md\:columns-2 { columns: 2 }
}

[x-cloak] {
  display: none;
}

pre.sf-dump {
    background-color: transparent !important;
}
.sf-dump {
    @apply h-full;
}

.intro-page-content {
    @apply px-4 pb-8 w-full mx-auto block;
}

.intro-page-content p:nth-child(2) {
    @apply flex;
}
.intro-page-content p:nth-child(2)>* {
    margin-right: 0.5rem;
}
/* purgecss end ignore */
